NODE_ENV=development
PORT=4000
DATABASE_URL="your-database-url"
DIRECT_URL="your-direct-url"
JWT_SECRET="your-jwt-secret-min-10-chars"
JWT_EXPIRES_IN="7d"
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_ANON_KEY="your-supabase-anon-key"