# dependencies
node_modules/

# production build
/dist/

# env
.env

# prisma
prisma/*.db
prisma/*.db-journal
prisma/seed.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
